$white: #ffffff;
$black: #000000;

// Website Colours
$teal: #00a19c;
$yellow: #fec524;
$purple: #621e66;
$beige: #e1dbd2;
$light-grey: #ececec;

// Brand Colours
$brand-primary: $teal;
$brand-secondary: $purple;
$brand-alternative: $yellow;
