// e.g. footer/legal
$font-size-micro: 12px;

// e.g. nav links
$font-size-small: 14px;

// e.g. main content
$font-size-normal: 17px;

// e.g. button text
$font-size-medium: 20px;

// e.g. sub-headings
$font-size-large: 32px;

// e.g. headings
$font-size-huge: 50px;

// e.g. headlines
$font-size-jumbo: 85px;
